<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liren.lottery_system.mapper.ActivityPrizeXmlMapper">


    <insert id="batchInsert">
        insert into activity_prize (activity_id, prize_id, prize_amount, prize_tiers, status)
        values
        <foreach collection="activityPrize" item="item" separator="," >
            (#{item.activityId}, #{item.prizeId}, #{item.prizeAmount}, #{item.prizeTiers}, #{item.status})
        </foreach>
    </insert>

    <select id="listActivityPrize" resultType="com.liren.lottery_system.common.pojo.entity.ActivityPrizeEntity">
        select * from activity_prize where activity_id = #{activityId}
    </select>

    <select id="getActivityPrize" resultType="com.liren.lottery_system.common.pojo.entity.ActivityPrizeEntity">
        select * from activity_prize where activity_id = #{activityId} and prize_id = #{prizeId}
    </select>
</mapper>