<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liren.lottery_system.mapper.PrizeXmlMapper">

    <insert id="insertPrize" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into prize (name, description, price, image_url)
        values (#{name}, #{description}, #{price}, #{imageUrl})
    </insert>
</mapper>