<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liren.lottery_system.mapper.PrizeXmlMapper">

    <insert id="insertPrize" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into prize (name, description, price, image_url)
        values (#{name}, #{description}, #{price}, #{imageUrl})
    </insert>

    <select id="countPrize" resultType="java.lang.Integer">
        select count(*) from prize
    </select>

    <select id="listPrize" resultType="com.liren.lottery_system.common.pojo.entity.PrizeEntity">
        <bind name="offset" value="(currentPage - 1) * pageSize" />
        select * from prize order by id asc limit #{offset}, #{pageSize}
    </select>

    <select id="listPrizeIdByIds" resultType="java.lang.Long">
        select id from prize
        <where>
            <if test="prizeIds != null and prizeIds.size() > 0">
                and id in
                <foreach collection="prizeIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listPrizeByIds" resultType="com.liren.lottery_system.common.pojo.entity.PrizeEntity">
        SELECT * FROM prize
        <where>
            <if test="prizeIds != null and prizeIds.size() > 0">
                AND id IN
                <foreach collection="prizeIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getPrize" resultType="com.liren.lottery_system.common.pojo.entity.PrizeEntity">
        select * from prize where id = #{prizeId}
    </select>
</mapper>